# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For more info, see https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in the repo.
*       @dcasavant @pegasystems/deployment

# Documentation
*.md        @taz-pega-work
docs/*      @taz-pega-work
