# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For more info, see https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in the repo.
*       @pegasystems/deployment

# Documentation
*.md        @taz-pega-work
docs/*      @taz-pega-work

# Chart Defaults
charts/*  @pegasystems/deployment

# Pega Chart
charts/pega/*    @pegasystems/deployment

# Constellation Chart
charts/pega/charts/constellation/*    @pegasystems/UIServices
charts/backingservices/charts/constellation/*  @pegasystems/UIServices

# SRS Chart
charts/backingservices/charts/srs/*  @pegasystems/searchservice
