{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "srs.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "srs.srs-service.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.srsRuntime.replicaCount }}
  selector:
    matchLabels:
{{- include "srs.srs-service.match-labels" . | indent 6 }}
  template:
    metadata:
      labels:
{{- include "srs.srs-service.match-labels" . | indent 8 }}
    spec:
      imagePullSecrets:
        - name: {{ template "srsRegistrySecretName" . -}}
        {{ if .Values.srsRuntime.imagePullSecretNames }}
        {{- range .Values.srsRuntime.imagePullSecretNames }}
        - name: {{ . }}
        {{- end -}}
        {{ end }}
{{- if .Values.srsRuntime.securityContext }}
      securityContext:
{{ toYaml .Values.srsRuntime.securityContext | indent 8 }}
{{- end }}
      containers:
        - name: srs-service
          image: {{ .Values.srsRuntime.srsImage }}
          imagePullPolicy: {{ .Values.srsRuntime.imagePullPolicy }}
          ports:
            {{- if not .Values.srsRuntime.ssl.enabled }}
            - name: srs-port
              containerPort: 8080
              protocol: TCP
            {{- else }}
            - name: srs-https-port
              containerPort: 8443
              protocol: TCP
            {{ end }}
          {{- if .Values.srsStorage.tls.enabled }}
          volumeMounts:
            - name: srs-certificates
              mountPath: /usr/share/
              {{- if .Values.srsRuntime.ssl.enabled }}
            - name: srs-ssl-volume
              mountPath: /usr/share/ssl/srs/
                {{ if eq .Values.srsRuntime.ssl.clientAuthentication "need" }}
            - name: srs-readiness-volume
              mountPath: /usr/share/ssl/srs/readiness/
                {{ end }}
              {{ end }}
          {{- else if .Values.srsRuntime.ssl.enabled }}
          volumeMounts:
            - name: srs-ssl-volume
              mountPath: /usr/share/ssl/srs/
              {{ if eq .Values.srsRuntime.ssl.clientAuthentication "need" }}
            - name: srs-readiness-volume
              mountPath: /usr/share/ssl/srs/readiness/
              {{ end }}
              {{- if .Values.srsStorage.mtls.enabled }}
            - name: es-ssl-volume
              mountPath: /usr/share/ssl/es/
              {{- else if .Values.srsStorage.mtlsWithPKIAuthentication.enabled }}
            - name: es-pki-ssl-volume
              mountPath: /usr/share/ssl/es/
              {{ end }}
          {{- else if .Values.srsStorage.mtls.enabled }}
          volumeMounts:
            - name: es-ssl-volume
              mountPath: /usr/share/ssl/es/
          {{- else if .Values.srsStorage.mtlsWithPKIAuthentication.enabled }}
          volumeMounts:
            - name: es-pki-ssl-volume
              mountPath: /usr/share/ssl/es/
          {{ end }}
          readinessProbe:
              {{- if .Values.srsRuntime.ssl.enabled }}
            exec:
              command:
                - wget
                {{ if eq .Values.srsRuntime.ssl.clientAuthentication "need" }}
                - --certificate=/usr/share/ssl/srs/readiness/client.crt
                - --private-key=/usr/share/ssl/srs/readiness/client.key
                - --ca-certificate=/usr/share/ssl/srs/readiness/ca.crt
                {{ end }}
                - --no-check-certificate
                - --no-verbose
                - --spider
                - https://localhost:8443/health
              {{- else }}
            httpGet:
              path: /health
              port: srs-port
              scheme: HTTP
              {{ end }}
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 30
          env:
            - name: ELASTICSEARCH_HOST
              value: {{ template "elasticsearch.domain" . }}
            - name: ELASTICSEARCH_PORT
              value: {{ template "elasticsearch.port" . }}
            - name: ELASTICSEARCH_PROTO
              value:  {{ template "elasticsearch.protocol" . }}
            - name: ELASTICSEARCH_AUTH_PROVIDER
              value: {{ template "elasticsearch.authProvider" .}}
            {{- if eq (include "elasticsearch.authProvider" $) "aws-iam" }}
            - name: ELASTICSEARCH_REGION
              value: {{ template "elasticsearch.region" .}}
            {{- end}}
            {{- if eq (include "elasticsearch.authProvider" $) "basic-authentication" }}
            - name: ELASTICSEARCH_USERNAME
              valueFrom:
               secretKeyRef:
                  name: "{{ .Values.srsStorage.authSecret | default "srs-elastic-credentials"}}"
                  key: username
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.authSecret | default "srs-elastic-credentials"}}"
                  key: password
            {{- end}}
            {{- if eq (include "elasticsearch.authProvider" $) "tls" }}
            - name: ELASTICSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.authSecret | default "srs-elastic-credentials"}}"
                  key: username
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.authSecret | default "srs-elastic-credentials"}}"
                  key: password
            - name: PATH_TO_TRUSTSTORE
              value: "/usr/share/{{ .Values.srsStorage.certificateName | default "elastic-certificates.p12"}}"
            {{ if not .Values.srsStorage.certsSecret }}
            - name: TRUSTSTORE_PASS
              value: "{{ .Values.srsStorage.certificatePassword | default ""}}"
            {{/*  The below env variable is a redundant variable of TRUSTSTORE_PASS, added to provide backward compatibility. This would be removed in the future releases */}}
            - name: PATH_TO_KEYSTORE
              value: "{{ .Values.srsStorage.certificatePassword | default ""}}"
            {{ else }}
            - name: TRUSTSTORE_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.certsSecret | default "srs-certificates"}}"
                  key: password
            {{/*  The below env variable is a redundant variable of TRUSTSTORE_PASS, added to provide backward compatibility. This would be removed in the future releases */}}
            - name: PATH_TO_KEYSTORE
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.certsSecret | default "srs-certificates"}}"
                  key: password
            {{- end }}
            {{- end}}
            {{- if eq (include "elasticsearch.authProvider" $) "mtls" }}
            - name: ELASTICSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.authSecret | default "srs-elastic-credentials"}}"
                  key: username
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.authSecret | default "srs-elastic-credentials"}}"
                  key: password
            - name: PATH_TO_ES_KEYSTORE
              value: "/usr/share/ssl/es/{{ .Values.srsStorage.mtls.keystore.file | default "es-keystore.p12"}}"
            - name: PATH_TO_ES_TRUSTSTORE
              value: "/usr/share/ssl/es/{{ .Values.srsStorage.mtls.truststore.file | default "es-truststore.jks"}}"
              {{ if .Values.srsStorage.mtls.certsSecret }}
            - name: ES_KEYSTORE_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.mtls.certsSecret | default "es-ssl-certificates"}}"
                  key: keystorePassword
            - name: ES_TRUSTSTORE_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.mtls.certsSecret | default "es-ssl-certificates"}}"
                  key: truststorePassword
              {{- end }}
            {{ end }}
            {{- if eq (include "elasticsearch.authProvider" $) "mtlswithpki" }}
            - name: PATH_TO_ES_KEYSTORE
              value: "/usr/share/ssl/es/{{ .Values.srsStorage.mtlsWithPKIAuthentication.keystore.file | default "es-keystore.p12"}}"
            - name: PATH_TO_ES_TRUSTSTORE
              value: "/usr/share/ssl/es/{{ .Values.srsStorage.mtlsWithPKIAuthentication.truststore.file | default "es-truststore.jks"}}"
              {{ if .Values.srsStorage.mtlsWithPKIAuthentication.certsSecret }}
            - name: ES_KEYSTORE_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.mtlsWithPKIAuthentication.certsSecret | default "es-pki-certificates"}}"
                  key: keystorePassword
            - name: ES_TRUSTSTORE_PASS
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsStorage.mtlsWithPKIAuthentication.certsSecret | default "es-pki-certificates"}}"
                  key: truststorePassword
              {{- end }}
            {{ end }}
            {{- if .Values.srsRuntime.ssl.enabled }}
            - name: SSL_ENABLED
              value: "true"
            - name: SRS_TLS_CLIENT_AUTHENTICATION
              value: "{{ .Values.srsRuntime.ssl.clientAuthentication | default "want"}}"
            - name: PATH_TO_SRS_KEYSTORE
              value: "file:///usr/share/ssl/srs/{{ .Values.srsRuntime.ssl.keystore.file | default "srs-keystore.p12"}}"
            - name: SRS_KEYSTORE_TYPE
              value: "{{ .Values.srsRuntime.ssl.keystore.type | default "PKCS12"}}"
            - name: PATH_TO_SRS_TRUSTSTORE
              value: "file:///usr/share/ssl/srs/{{ .Values.srsRuntime.ssl.truststore.file | default "srs-truststore.jks"}}"
            - name: SRS_TRUSTSTORE_TYPE
              value: "{{ .Values.srsRuntime.ssl.truststore.type | default "JKS"}}"
            {{ if .Values.srsRuntime.ssl.certsSecret }}
            - name: SRS_KEYSTORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsRuntime.ssl.certsSecret | default "srs-ssl-certificates"}}"
                  key: keystorePassword
            - name: SRS_TRUSTSTORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.srsRuntime.ssl.certsSecret | default "srs-ssl-certificates"}}"
                  key: truststorePassword
            {{- end }}
            {{- end }}
            - name: APPLICATION_HOST
              value: "0.0.0.0"
            - name: APPLICATION_PORT
              value: "8080"
            - name: AUTH_ENABLED
              value: "{{ .Values.srsRuntime.env.AuthEnabled | default "false" }}"
            - name: OAUTH_PUBLIC_KEY_URL
              value: {{ template "oAuthPublicKeyUrl" .}}
            - name: PUBLIC_KEY_URL
              value: ""
            - name: HIGH_SECURE_CRYPTO_MODE_ENABLED
              value: "{{ .Values.srsRuntime.enableSecureCryptoMode | default "false" }}"
            - name: JAVA_OPTS
              value: {{ template "javaOpts" .}}
{{- if .Values.srsRuntime.containerSecurityContext }}
          securityContext:
{{ toYaml .Values.srsRuntime.containerSecurityContext | indent 12 }}
{{-  end }}
          resources:
            {{- toYaml .Values.srsRuntime.resources | nindent 12 }}
      {{- if .Values.srsStorage.tls.enabled }}
      volumes:
      - name: srs-certificates
        secret:
          secretName: "{{ .Values.srsStorage.certsSecret | default "srs-certificates"}}"
        {{- if .Values.srsRuntime.ssl.enabled }}
      - name: srs-ssl-volume
        secret:
          secretName: "{{ .Values.srsRuntime.ssl.certsSecret | default "srs-ssl-certificates"}}"
          {{ if eq .Values.srsRuntime.ssl.clientAuthentication "need" }}
      - name: srs-readiness-volume
        secret:
          secretName: "srs-readiness-certs"
          {{ end }}
        {{ end }}
      {{- else if .Values.srsRuntime.ssl.enabled }}
      volumes:
      - name: srs-ssl-volume
        secret:
          secretName: "{{ .Values.srsRuntime.ssl.certsSecret | default "srs-ssl-certificates"}}"
        {{ if eq .Values.srsRuntime.ssl.clientAuthentication "need" }}
      - name: srs-readiness-volume
        secret:
          secretName: "srs-readiness-certs"
        {{ end }}
        {{- if .Values.srsStorage.mtls.enabled }}
      - name: es-ssl-volume
        secret:
          secretName: "{{ .Values.srsStorage.mtls.certsSecret  | default "es-ssl-certificates"}}"
        {{- else if .Values.srsStorage.mtlsWithPKIAuthentication.enabled }}
      - name: es-pki-ssl-volume
        secret:
          secretName: "{{ .Values.srsStorage.mtlsWithPKIAuthentication.certsSecret  | default "es-pki-certificates"}}"
        {{ end }}
      {{- else if .Values.srsStorage.mtls.enabled }}
      volumes:
      - name: es-ssl-volume
        secret:
          secretName: "{{ .Values.srsStorage.mtls.certsSecret  | default "es-ssl-certificates"}}"
      {{- else if .Values.srsStorage.mtlsWithPKIAuthentication.enabled }}
      volumes:
      - name: es-pki-ssl-volume
        secret:
          secretName: "{{ .Values.srsStorage.mtlsWithPKIAuthentication.certsSecret  | default "es-pki-certificates"}}"
      {{ end }}
      {{- if .Values.srsStorage.provisionInternalESCluster }}
      initContainers:
      - name: wait-for-internal-es-cluster
        image: {{ .Values.busybox.image }}
        imagePullPolicy: {{ .Values.busybox.imagePullPolicy }}
    {{- if .Values.srsStorage.tls.enabled }}
        args:
          - until $(wget -q -S --spider --timeout=2 -O /dev/null $ELASTICSEARCH_PROTO://$ELASTICSEARCH_USERNAME:$ELASTICSEARCH_PASSWORD@$ELASTICSEARCH_HOST:$ELASTICSEARCH_PORT --no-check-certificate); do nslookup -type=ns $ELASTICSEARCH_HOST && echo Waiting for Elasticsearch cluster to become live...; sleep 10; done;
        command:
          - sh
          - -c
  {{ else }}
        args:
          - until $(wget -q -S --spider --timeout=2 -O /dev/null $ELASTICSEARCH_PROTO://$ELASTICSEARCH_USERNAME:$ELASTICSEARCH_PASSWORD@$ELASTICSEARCH_HOST:$ELASTICSEARCH_PORT ); do nslookup -type=ns $ELASTICSEARCH_HOST && echo Waiting for Elasticsearch cluster to become live...; sleep 10; done;
        command:
          - sh
          - -c
    {{ end }}
        env:
          - name: ELASTICSEARCH_PROTO
            value: {{ template "elasticsearch.protocol" . }}
          - name: ELASTICSEARCH_HOST
            value: {{ template "elasticsearch.domain" . }}
          - name: ELASTICSEARCH_PORT
            value: {{ template "elasticsearch.port" . }}
          - name: ELASTICSEARCH_USERNAME
            valueFrom:
              secretKeyRef:
                name: srs-elastic-credentials
                key: username
          - name: ELASTICSEARCH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: srs-elastic-credentials
                key: password
      {{ end }}
{{- include "podAffinity" .Values.srsRuntime | indent 6 }}
  {{ end }}
