<?xml version='1.0' encoding='utf-8'?>
<Context>

  <WatchedResource>WEB-INF/web.xml</WatchedResource>

  <Manager pathname="" />
    <Resource name="jdbc/PegaRULES"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="{{ .Env.JDBC_CLASS }}"
    url="{{ .Env.JDBC_URL }}"
    username="{{ .Env.SECRET_DB_USERNAME }}"
    password="{{ .Env.SECRET_DB_PASSWORD }}"
    maxTotal="{{ .Env.JDBC_MAX_ACTIVE }}"
    minIdle="{{ .Env.JDBC_MIN_IDLE }}"
    maxIdle="{{ .Env.JDBC_MAX_IDLE }}"
    maxWaitMillis="{{ .Env.JDBC_MAX_WAIT }}"
    initialSize="{{ .Env.JDBC_INITIAL_SIZE }}"
    connectionProperties="{{ .Env.JDBC_CONNECTION_PROPERTIES }}"
  />

  <Environment name="url/initialization/explicittempdir" value="path" type="java.lang.String"/>
  <Environment name="prconfig/database/databases/PegaRULES/defaultSchema" value="{{ .Env.RULES_SCHEMA }}" type="java.lang.String" />
  <Environment name="prconfig/database/databases/PegaDATA/defaultSchema"  value="{{ .Env.DATA_SCHEMA }}"  type="java.lang.String" />
  {{ if .Env.CUSTOMERDATA_SCHEMA }}
  <Environment name="prconfig/database/databases/CustomerData/defaultSchema" value="{{ .Env.CUSTOMERDATA_SCHEMA }}" type="java.lang.String" />
  {{ else }}
  <Environment name="prconfig/database/databases/CustomerData/defaultSchema" value="{{ .Env.DATA_SCHEMA }}" type="java.lang.String" />
  {{ end }}
  <Environment name="prconfig/database/drivers" value="com.microsoft.sqlserver.jdbc.SQLServerDriver;oracle.jdbc.OracleDriver;org.postgresql.Driver;com.ibm.db2.jcc.DB2Driver" type="java.lang.String" />
  {{ if .Env.REQUESTOR_PASSIVATION_TIMEOUT }}
  <Environment name="prconfig/timeout/browser" value="{{ .Env.REQUESTOR_PASSIVATION_TIMEOUT }}" type="java.lang.String" />
  {{ end }}
</Context>
