#Force the jvm to frequently requery dns
networkaddress.cache.ttl=30

{{ if .Env.FIPS_140_3_MODE }}
security.provider.1=org.bouncycastle.jcajce.provider.BouncyCastleFipsProvider
security.provider.2=org.bouncycastle.jsse.provider.BouncyCastleJsseProvider fips:BCFIPS
security.provider.3=org.bouncycastle.entropy.provider.BouncyCastleEntropyProvider
security.provider.4=SUN
security.provider.5=SunEC
security.provider.6=SunJSSE
security.provider.7=SunJGSS
security.provider.8=SunSASL
security.provider.9=XMLDSig
security.provider.10=SunPCSC
security.provider.11=JdkLDAP
security.provider.12=JdkSASL
ssl.KeyManagerFactory.algorithm=PKIX
securerandom.strongAlgorithms=ENTROPY:BCRNG
{{ end }}
