<?xml version='1.0' encoding='utf-8'?>
<Context>

  <WatchedResource>WEB-INF/web.xml</WatchedResource>

  <Manager pathname="" />
    <Resource name="jdbc/PegaRULES"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="{{ .Env.JDBC_CLASS }}"
    url="{{ .Env.JDBC_URL }}"
    username="{{ .Env.SECRET_DB_USERNAME }}"
    password="{{ .Env.SECRET_DB_PASSWORD }}"
    maxTotal="{{ .Env.JDBC_MAX_ACTIVE }}"
    minIdle="{{ .Env.JDBC_MIN_IDLE }}"
    maxIdle="{{ .Env.JDBC_MAX_IDLE }}"
    maxWaitMillis="{{ .Env.JDBC_MAX_WAIT }}"
    initialSize="{{ .Env.JDBC_INITIAL_SIZE }}"
    connectionProperties="{{ .Env.JDBC_CONNECTION_PROPERTIES }}"
    timeBetweenEvictionRunsMillis="30000"
    minEvictableIdleTimeMillis="60000"
    />

  {{ if and .Env.DB_RW_USERNAME .Env.JDBC_RW_URL }}
    <Resource name="jdbc/PegaRULESLongRW"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="{{ .Env.JDBC_CLASS }}"
    url="{{ .Env.JDBC_RW_URL }}"
    username="{{ .Env.DB_RW_USERNAME }}"
    password=""
    maxTotal="{{ .Env.JDBC_MAX_ACTIVE }}"
    minIdle="{{ default .Env.JDBC_RO_MIN_IDLE .Env.JDBC_MIN_IDLE }}"
    maxIdle="{{ .Env.JDBC_MAX_IDLE }}"
    maxWaitMillis="{{ .Env.JDBC_MAX_WAIT }}"
    initialSize="{{ default .Env.JDBC_RO_INITIAL_SIZE .Env.JDBC_INITIAL_SIZE }}"
    connectionProperties="socketTimeout=1200;statement_timeout=1200500;idle_in_transaction_session_timeout=1200500;"
    timeBetweenEvictionRunsMillis="30000"
    minEvictableIdleTimeMillis="60000"
    />
  {{ end }}

  {{ if and .Env.JDBC_RO_URL .Env.DB_RO_USERNAME .Env.DB_RO_PASSWORD }}
    <Resource name="jdbc/PegaRULESReadOnly"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="{{ .Env.JDBC_CLASS }}"
    url="{{ .Env.JDBC_RO_URL }}"
    username="{{ .Env.DB_RO_USERNAME }}"
    password="{{ .Env.DB_RO_PASSWORD }}"
    maxTotal="{{ .Env.JDBC_MAX_ACTIVE }}"
    minIdle="{{ default .Env.JDBC_RO_MIN_IDLE .Env.JDBC_MIN_IDLE }}"
    maxIdle="{{ .Env.JDBC_MAX_IDLE }}"
    maxWaitMillis="{{ .Env.JDBC_MAX_WAIT }}"
    initialSize="{{ default .Env.JDBC_RO_INITIAL_SIZE .Env.JDBC_INITIAL_SIZE }}"
    connectionProperties="{{ .Env.JDBC_CONNECTION_PROPERTIES }}"
    timeBetweenEvictionRunsMillis="30000"
    minEvictableIdleTimeMillis="60000"
    />


  <Environment name="prconfig/database/databases/PegaRULES/dataSourceReadOnly" value="java:comp/env/jdbc/PegaRULESReadOnly" type="java.lang.String" />
  <Environment name="prconfig/database/databases/PegaDATA/dataSourceReadOnly" value="java:comp/env/jdbc/PegaRULESReadOnly" type="java.lang.String" />
  {{ if .Env.CUSTOMERDATA_SCHEMA }}
  <Environment name="prconfig/database/databases/CustomerData/dataSourceReadOnly" value="java:comp/env/jdbc/PegaRULESReadOnly" type="java.lang.String" />
  {{ end }}
  {{ end }}

  <Environment name="url/initialization/explicittempdir" value="path" type="java.lang.String"/>
  <Environment name="prconfig/database/databases/PegaRULES/defaultSchema" value="{{ .Env.RULES_SCHEMA }}" type="java.lang.String" />
  <Environment name="prconfig/database/databases/PegaDATA/defaultSchema"  value="{{ .Env.DATA_SCHEMA }}"  type="java.lang.String" />
  {{ if .Env.CUSTOMERDATA_SCHEMA }}
  <Environment name="prconfig/database/databases/CustomerData/defaultSchema" value="{{ .Env.CUSTOMERDATA_SCHEMA }}" type="java.lang.String" />
  {{ else }}
  <Environment name="prconfig/database/databases/CustomerData/defaultSchema" value="{{ .Env.DATA_SCHEMA }}" type="java.lang.String" />
  {{ end }}
  {{ if .Env.REQUESTOR_PASSIVATION_TIMEOUT }}
  <Environment name="prconfig/timeout/browser" value="{{ .Env.REQUESTOR_PASSIVATION_TIMEOUT }}" type="java.lang.String" />
  {{ end }}

  {{ if .Env.CONTEXT_XML_SNIPPET }}
  {{ .Env.CONTEXT_XML_SNIPPET }}
  {{ end }}

</Context>