install.{{ .Env.DB_TYPE }}.schema={{ .Env.DATA_SCHEMA }}
initialization.settingsource=file
com.pega.pegarules.priv.LogHelper.USE_LOG4JV2=true
maxIdle={{ .Env.MAX_IDLE }}
com.pega.pegarules.bootstrap.engineclasses.tablename={{ .Env.RULES_SCHEMA }}.pr_engineclasses
install.{{ .Env.DB_TYPE }}.rulesSchema={{ .Env.RULES_SCHEMA }}
maxWait={{ .Env.MAX_WAIT }}
install.{{ .Env.DB_TYPE }}.url={{ .Env.JDBC_URL }}
maxActive={{ .Env.MAX_ACTIVE }}
install.{{ .Env.DB_TYPE }}.username={{ .Env.DB_USERNAME }}
{{ .Env.DB_TYPE }}.jdbc.class={{ .Env.JDBC_CLASS }}
com.pega.pegarules.bootstrap.assembledclasses.tablename={{ .Env.RULES_SCHEMA }}.pr_assembledclasses
com.pega.pegarules.bootstrap.assembledclasses.dbcpsource=install.{{ .Env.DB_TYPE }}
com.pega.pegarules.bootstrap.tempdir=/opt/pega/temp
poolPreparedStatements=true
install.{{ .Env.DB_TYPE }}.connectionProperties={{ .Env.JDBC_CUSTOM_CONNECTION }}
install.{{ .Env.DB_TYPE }}.password={{ .Env.DB_PASSWORD }}
com.pega.pegarules.bootstrap.codeset.version.Pega-EngineCode={{ .Env.CODESET_VERSION }}
com.pega.pegarules.bootstrap.engineclasses.dbcpsource=install.{{ .Env.DB_TYPE }}
