# Pega does not actively update this Elasticsearch dependency. To use the SRS to provide an Elasticsearch service to your deployment you must 
# update the elasticsearch 'version' parameter value below to match the 'elasticsearch.imageTag' in the backingservices values.yaml.
# NOTE: For kubernetes version >=1.25 or Elasticsearch version 7.17.9, 
# use 7.17.3 for the elasticsearch 'version' parameter below (for Elasticsearch version 7.17.9, you will still use 7.17.9 in the backingservices values.yaml).
# For kubernetes version >=1.25 or Elasticsearch versions 8.10.3, 8.15.1, 8.15.5, 8.18.2, 8.18.3 or 8.18.6, use 8.5.1 for the elasticsearch 'version' parameter below
# To disable deploying Elasticsearch in SRS, set the 'srs.srsStorage.provisionInternalESCluster' parameter in backingservices values.yaml to false.
# The dependencies.version parameter refers to the Elasticsearch Helm chart version, not Elasticsearch server version.
dependencies:
- name: elasticsearch
  version: "7.17.3"
  repository: https://helm.elastic.co/
  condition: srs.srsStorage.provisionInternalESCluster
- name: constellation
  version: "1.0.0"
- name: constellation-messaging
  version: "1.0.0"
- name: srs
  version: "0.1.0"
